/*  your css code here. If applicable */
#y{
	background-color:yellow;
	border:1px solid green;
}
#r{
	background-color:red;
	border:1px solid black;
	
}
#g{
	background-color:green;
	border:1px solid yellow;
}